
@keyframes run {
    0% {
      opacity: 0;
      transform: translateX(40%);
    }
    50% {
      opacity: 1;
      transform: translateX(-20%);
    }
    100% {
      opacity: 1;
      transform: translateX(-20%);
    }
  }
  @keyframes runRight {
    0% {
      opacity: 0;
      transform: translateX(-30%);
    }
    70% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0);
    }
  }