@import '../abstracts/variables';
@import '../abstracts/mixins';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 125%;

    @include mediaManager(big-desk){ //1800
      font-size: 1.4em;
    }
    @include mediaManager(tab-land){ //1200
      font-size: 1.2em;
    }
    @include mediaManager(tab-port){ //900
      font-size: 1em;
    }
    @include mediaManager(phone){ //600
      font-size: .8em;
    }
  }
  body {
    font-weight: 200;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 1.8rem;
    
  }
  