@mixin mediaManager($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px),
    only screen and (hover:none)
    {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 900px), 
    only screen and (hover:none)
    {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1200px),
    only screen and (hover:none)
    {
      @content;
    }
  }
  @if $breakpoint == big-desk {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
