// .rgba-primary-0 {
//   color: rgba(152, 51, 81, 1);
// } /* Main Primary color */
// .rgba-primary-1 {
//   color: rgba(229, 39, 97, 1);
// }
// .rgba-primary-2 {
//   color: rgba(191, 48, 92, 1);
// }
// .rgba-primary-3 {
//   color: rgba(113, 47, 67, 1);
// }
// .rgba-primary-4 {
//   color: rgba(73, 36, 47, 1);
// }

:root {
  --color-primary: rgba(152, 51, 81, 1);
  --color-secondary: rgba(229, 39, 97, 1);
  --color-third: rgba(113, 47, 67, 1);
  --color-middle: rgba(191, 48, 92, 1);
  --color-dark: rgba(73, 36, 47, 1);
}

$primary-color: rgba(152, 51, 81, 1);
$body-background: rgba(152, 51, 81, 1);
$h2-headings: rgba(73, 36, 47, 1);

$secondary-color: rgba(229, 39, 97, 1);

$third-color: rgba(113, 47, 67, 1);
