* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    font-size: 20px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-rendering: optimizeLegibility;
  }