.section-meals {
  /* padding-bottom: 0.2rem; */
}

.one-section-meals {
  width: 100%;
}
figure {
}

.section-meals li {
  display: block;
  float: left;
  width: 20%;
  height: 10rem;
  overflow: hidden;
  background: black;
}

.section-meals img {
  opacity: 0.7;
  width: 100%;
  image-rendering: auto;
  transform: scale(1.15);
  transition: ease-out 0.5s;
}
.section-meals img:hover {
  opacity: 1;
  transform: scale(1.03);
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.section-steps {
  padding: 1rem 0;
  background-color: rgb(224, 224, 222);
}
.steps-row {
  display: flex;
  flex-wrap: wrap;
}
.steps-title {
  text-align: center;
  margin-bottom: 3rem;
}

.btn-app img:first-child {
  width: 15rem;
  height: auto;
}
.btn-app img:last-child {
  width: 11rem;
  height: auto;
  margin-bottom: 0.8rem;
}
.work-steps {
  display: flex;
  padding-bottom: 0rem;
  padding-top: 2rem;
}
.work-steps div {
  display: inline-block;
  border: 4px solid rgb(243, 37, 37);
  border-radius: 50%;
  padding: 1rem;
  margin: 0.7rem 0rem;
  text-align: center;
}
.work-steps p {
  margin: 2rem 1rem;
}
.section-cities {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.cities-title {
  text-align: center;
  color: indianred;
}
.cities-title h2::after {
  display: block;
  content: " ";
  background-color: indianred;
  height: 0.2rem;
  width: 15rem;
  margin: 0.5rem auto;
}
.cities-images {
  background-color: rgb(20, 20, 20);
}
.cities-images ul {
}
.cities-images li {
  display: inline-block;
  float: left;
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: 800;
  font-size: 1rem;
  color: indianred;
}
.cities-images img {
  padding: 0.6rem;
  width: 17rem;
  margin: 0 0.6rem;
  opacity: 0.7;
  transition: ease-out 0.5s;
  transform: scale(1.1);
}
.cities-images p {
  width: 15rem;
  margin-left: 1rem;
}
.cities-images img:hover {
  opacity: 1;

  transform: scale(1.05);
  border: 1px solid indianred;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
}

.section-customer {
  vertical-align: middle;
  padding-top: 1rem;
  padding-left: 2rem;
  color: rgb(255, 255, 255);
  background-color: indianred;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), black),
    url(https://images.pexels.com/photos/954677/pexels-photo-954677.jpeg);
  background-size: cover;
  background-attachment: fixed;
  font-weight: 500;
}
.customer-title {
  padding-top: 2rem;
  text-align: center;
}
.customer-testimonials {
  margin-left: 8rem;
  margin-top: 1rem;
}

.customer-test {
  width: 20rem;
  display: inline-block;

  margin-right: 1rem;
}
.customer-test img {
  width: 3rem;
}
blockquote {
  padding: 1rem;
  margin-top: 1rem;
  font-style: italic;
  position: relative;
}
blockquote::before {
  content: "\201C";
  font-size: 400%;
  position: absolute;
  top: -1.5rem;
  left: -1.4rem;
}
cite {
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
}

.section-plans {
  background-color: lightcyan;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.section-plans h2 {
  text-align: center;
}
.plans-plans {
  margin-top: 2rem;
  margin-left: 10rem;
}
.card {
    opacity: 0.7;
  display: inline-block;
  margin: 0 3rem;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: teal;
  border-radius: 1rem;
  transition: ease-in-out 1s;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}
.card:hover{
    
    opacity: 1;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.2);

}
.card-title::after{
    background-color: transparent;
    content: "";
    position: absolute;
    bottom:0;
    left:2%;
    height: 0.1rem;
    width: 5rem;
    transition: ease-in-out 0.5s;
}

.card:hover .card-title::after{
    margin-top: 1rem;
    background-color:rgb(43, 42, 42);
    content: "";
    position: absolute;
    bottom:0;
    left:2%;
    height: 0.2rem;
    width: 12rem;
    

}
.card .plan-line{
    border:0.04rem solid rgba(24, 117, 117, 0.925);
    margin: 1rem 0;
    transition: ease-in-out 1s;
}
.card:hover .plan-line{
   
    border:0.04rem solid rgba(44, 204, 204, 0.959);

}



.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
}
.card-title {
  font-size: 1.7rem;
  font-weight: 200;
  position: relative;
  text-align: center;
  padding-top: 0.5rem;
}


.plan-price{
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;

}
.plan-price li{
    list-style: none;
    font-size: 1rem;
    font-weight: 800;
    font-style: italic;
}
.meal-price{
    font-size: 1rem;
}
.meal-price span{
    font-size: 2rem;
}

.premium {
  box-shadow: rgba(0, 0, 0, 0.9);
  text-align: start;
}
.pro {
    box-shadow: rgba(0, 0, 0, 0.9);
    text-align: start;
  }
.starter {
    box-shadow: rgba(0, 0, 0, 0.9);
    text-align: start;
  }
.meal-day-price{
    margin-bottom: 1rem;
    
 
}
.meal-day-price::after{
    
    
 
}


@media only screen and (max-width: 1200px) {
    
    .card{
        margin-top: 1rem;
    }
    .section-cities{
        padding: 0 3rem;
    }
  }
  
  @media only screen and (max-width: 1023px) {
    .card{
        margin-top: 1rem;
    }
    .section-cities{
        padding: 0 3rem;
    }
    
  }
  
  @media only screen and (max-width: 767px) {
    .card{
        margin-top: 1rem;
        margin-right: 3rem;
        margin-left: 4rem;
    }
    .section-cities{
        padding: 0 3rem;
    }
    
  }
  
  @media only screen and (max-width: 480px) {
    .card{
        margin-top: 1rem;
        margin-right: 15rem;
        margin-left: -3rem;
    }
    .section-cities{
        padding: 0 2rem;
    }
    .section-customer{
        padding-right: 2rem;
    }
    .customer-testimonials{
        margin-left: 1rem;
    }
    .steps-image img{
        height: 19rem;
    }
    .work-steps{
        padding: 0 1rem;
    }
    .work-steps div{
        padding: 0.5rem;
        margin:1.7rem 0;
        border:2px solid rgb(243, 37, 37);
    }
    .btn-app img:first-child{
        width: 12rem;
    }
    .btn-app img:last-child{
        width: 8rem;
    }

  }
  