
@import '../abstracts/variables';


.header-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: $primary-color;
    font-size: 0.6rem;
    font-weight: 900;
    transition: ease-in-out 0.3s;
    margin-top: 1rem;
    box-shadow: 0.06rem 0.02rem 0.1rem $h2-headings;
  
    &:hover {
      display: inline-block;
  
      text-decoration: none;
  
      padding: 1rem;
      border-radius: 0.6rem;
      /* border: 1px solid rgb(212, 60, 0); */
      background-color: $secondary-color;
      font-size: 0.6rem;
      font-weight: 900;
      color: white;
      margin-top: 1rem;
      transform: translateY(-3px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
    }
    &:active {
      transform: translateY(-1px);
      color: rgb(33, 193, 214);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.42);
    }
  }
  