@import '../abstracts/variables';


.row{
    display: flex;
     flex-direction: row;

     flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    padding-right: 1rem;
    // align-items: center;
    
}


