
@import '../abstracts/variables';


.my-home {
    background: linear-gradient(
      $primary-color,
      $third-color
    );
    clip-path: polygon(0 0, 100% 0, 100% 80%, 40% 90%, 0 80%);
    
    height: 90vh;
    position: relative;
    @include mediaManager(tab-port){
      padding-bottom: 35rem;
    }
    @include mediaManager(phone){
      padding-bottom: 32rem;
    }
  }


.nav-ul {
    display: flex;
    position: absolute;
    top: 5%;
    right: 15%;
    & li:active,
    & li:link {
      list-style: none;
      margin-left: 5rem;
      color: black;
  
      transition: ease-in-out 0.4s;
    }
    & li:hover,
    & li:visited {
      list-style: none;
      margin-left: 5rem;
      color: white;
      border-bottom: 1px solid white;
    }
  
    & li {
      list-style: none;
      margin-left: 5rem;
    }
    & a {
      text-decoration: none;
      color: black;
      text-shadow: 0.02rem 0.07rem 0.01rem $h2-headings;
    }
  }
  .logo {
    position: absolute;
    top: 5%;
    left: 5%;
  }
  
  .box {
    padding: 20% 30%;
    text-align: center;
  }
  
  .header-box {
    display: inline-block;
  
    font-weight: 900;
    color: palegreen;
    letter-spacing: 0.2rem;
    animation-name: run;
    animation-duration: 1s;
    backface-visibility: hidden;
  }
  
  .header-sub {
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.1rem;
    animation-name: runRight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
  }
  span {
    display: block;
  }
  